<form  method="post" action="/form">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Your name</label>
    <input name="username" class="form-control" >
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input name="password" type="password" class="form-control" >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>



